{% extends 'base/base.html' %}
{% block title %}
Planillas
{% endblock %}

{% block contenido %}

<form method="post" class="form-horizontal">
    {% csrf_token %}
    {% for hidden in form.hidden_fields %}
        {{hidden}}
    {% endfor %}

    <div class="form-group">
        <label for="{{ form.Id_Planilla.id_for_label }}"
                class="col-sm-2 control-label">{{ form.Id_Planilla.label }}</label>
        </div class="col-sm-8">
            {{ form.Id_Planilla }}
        </div>        
    </div>


    <label style="margin-left: 400px;">
        {{ form.Sueldo_Base.label }}
    </label> <br>
    <div style="width: 200px; margin-left: 400px;">
        {{ form.Sueldo_Base}}
    </div>


    <label style="margin-left: 400px;">
        {{ form.IHSS.label }}
    </label> <br>
    <div style="width: 200px; margin-left: 400px;">
        {{ form.IHSS}}
    </div>

    <label style="margin-left: 400px;">
        {{ form.RAP.label }}
    </label> <br>
    <div style="width: 200px; margin-left: 400px;">
        {{ form.RAP}}
    </div>

    
        
    <div style="margin-top: 40px; ">
        <button type="submit" style="margin-left: 450px;  background: rgb(36, 210, 253);">Guardar</button>
    </div> 

</form>
{% endblock %}  


