{% extends 'base/base.html' %}
{% block title %}
Listado de Planillas
{% endblock %}
{% block contenido %}
<!DOCTYPE html>
<html lang="en">

<div>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- DATATABLES -->
    <!--  <link rel="stylesheet" href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css"> -->
    <!-- BOOTSTRAP -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.20/css/dataTables.bootstrap4.min.css">

    <style>
        th,td {
            padding: 0.4rem !important;
        }
        body>div {
            box-shadow: 10px 10px 8px #888888;
            border: 2px solid black;
            border-radius: 5px;
        }
    </style>
    <title>Document</title>

    <header>
        <H1 style="margin-left: 300px;margin-top: 50px;">Listado de Planillas disponibles</H1>
    </header>
</head>

<body style="background-color: rgb(255, 255, 255);">

    <div class="container" style="margin-top: 50px; padding: 0px">

        <table id="tablax" class="table table-striped table-bordered" style="width:100%">
            <a class="btn btn-primary" href="{% url 'Planilla_crear'%}">Agregar nueva</a>
            <thead>
                <th>Editar</th>
                <th>Eliminar</th>
                <th>Id </th>
                <th>sueldo</th>
                <th>Numero de seguro</th>
                <th>Rap</th>
            </thead>
            <tbody>
                {% for data in lista %}
                <tr>
                    <td><a href="{% url 'Planilla_editar' data.Id_Planilla %}">Editar</a></td>
                    <td><a href="{% url 'Planilla_delete' data.Id_Planilla %}">Eliminar</a></td>
                    <td>{{data.Id_Planilla}}</td>
                    <td>{{data.Sueldo_Base}}</td>
                    <td>{{data.IHSS}}</td>
                    <td>{{data.RAP}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>


    </div>



   <!-- JQUERY -->
   <script src="https://code.jquery.com/jquery-3.4.1.js"
   integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous">
   </script>
<!-- DATATABLES -->
<script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js">
</script>
<!-- BOOTSTRAP -->
<script src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js">
</script>
<script>
   $(document).ready(function () {
       $('#tablax').DataTable({
           language: {
               processing: "Tratamiento en curso...",
               search: "Buscar&nbsp;:",
               lengthMenu: "Agrupar de _MENU_ items",
               info: "Mostrando del item _START_ al _END_ de un total de _TOTAL_ items",
               infoEmpty: "No existen datos.",
               infoFiltered: "(filtrado de _MAX_ elementos en total)",
               infoPostFix: "",
               loadingRecords: "Cargando...",
               zeroRecords: "No se encontraron datos con tu busqueda",
               emptyTable: "No hay datos disponibles en la tabla.",
               paginate: {
                   first: "Primero",
                   previous: "Anterior",
                   next: "Siguiente",
                   last: "Ultimo"
               },
               aria: {
                   sortAscending: ": active para ordenar la columna en orden ascendente",
                   sortDescending: ": active para ordenar la columna en orden descendente"
               }
           },
           scrollY: 250,
           lengthMenu: [ [10, 25, -1], [10, 25, "All"] ],
       });
   });
</script>

</body>   
</div>

</html>
{% endblock %}